<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Deletion</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/delete" method="POST">
            <div class="form-group">
              <label for="email">Task To Delete</label>
              <input type="text" class="form-control" name="taskToDelete">
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/header') %>
